@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
html,
body {
  /* overflow-x: hidden; */
}
.section-title,
.header .logo {
  font-family: "Orbitron", sans-serif;
}
